@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgb(2 2 2 / 70%), rgba(0, 0, 0, 0.7)),
    url(../img/headerBG.png);
  background-size: cover;
  background-position: center;
}
.header_main {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
