.main {
  width: 100%;
}

.recipe_container {
  max-width: 1680px;
  height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_container ul {
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 1740px;
}
/* .recipe_container ul li {
   width: 338px;
  height: 335px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}  */

.recipe_list {
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.loader_container {
  margin-top: 13rem;
}
