body {
  background-color: #f8f8f8;
}

.main {
  width: 100%;
}

.recipe_container {
  max-width: 1680px;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_list {
  padding: 1.5rem;
  /* list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.loader_container {
  margin-top: 13rem;
}
